* {
  margin: 0;
  padding: 0;
}



.grid {
  
  width: 100vw;
  height: 100vh;
}

.row1 {
  display: flex;
  width: 100vw;
  height: 6.25%;
}

.cell {
  width: 6.25%;
  height: 100%;
  border: 1px solid black;
}
